body {
  padding: 13%;
  margin: 11%;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
  background-color: black;
  color: white;
}

.img {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
